/* SELECTOR UNIVERSAL */
/* * {

} */

/* SELECTOR DE ETIQUETA */
/* 0, 0, 1 */
/* p {
    color: red;
    background-color: green;
} */

/* SELECTOR DE CLASE */
/* 0, 1, 0 */
/* .parrafos_rebeldes {
    color: aqua;
    background-color: orange;
} */

/* SELECTOR DE ID */
/* 1, 0, 0 */
/* #parrafo_especial {
    background-color: brown;
} */


/******* SELECTORES COMBINADOS *******/
/* SELECTOR DE HIJO */
/* section > h2 {
    color: yellow;
} */
/* SELECTOR DE DESCENDIENTES */
/* section h2 {
    color: blue;
} */


/* SELECTOR DE HERMANOS */
/* h2 ~ p {
    color: pink;
} */

/* SELECTOR DE HERMANOS ADYASCENTES */
/* h2 + p {
    color: blue;
} */

/* SELECTOR DE ATRIBUTO */
/* input[type="text"] {
    color: red;
} */
